@font-face {
    font-family: "Passion One";
    src: url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
    font-family: "Sriracha";
    src: url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
}

*{
    margin: 0;
}
header{
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
header h1{
    margin-bottom: 30px;
    font-family: 'Passion One', sans-serif;
    font-size: 6vh;
}
header a{
    text-decoration: none;
    color: white
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}
main #um{
    background-image: url("imagens/background001.jpg");
    background-attachment:fixed;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    padding-top: 40px;
}
main #dois{
    background-image: url("imagens/background002.jpg");
    background-attachment:fixed;
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    padding-top: 40px;
}
.branco{
    color: white;
    top: 60px;
    background-color: rgba(0, 0, 0, 0.233);
}
main p{
    font-family: 'Sriracha', cursive;
    margin: 0px 0px 10px 20px;
    line-height: 2em;
    width: 250px;
    font-weight: bold;
    font-style: italic;
}